<footer>
  <small>
    This project is initiated by <a href="https://www.idlehours.co">The Idle Hours Company</a>.
    Website made by <a href="https://www.romanceoffice.com">Office Romance</a>.
  </small>
</footer>
